<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.ksh1024.tweet_monitor.mapper.AdminMapper">
    <select id="selectAllKeywordRecipientMappings" resultType="io.github.ksh1024.tweet_monitor.dto.KeywordRecipientDTO">
        SELECT
        k.ID AS keywordId,
        k.KEYWORD_TEXT AS keywordText,
        k.IS_ACTIVE AS keywordIsActive,
        r.ID AS recipientId,
        r.TWITTER_USER_ID AS recipientTwitterUserId,
        r.TWITTER_SCREEN_NAME AS recipientTwitterScreenName,
        r.IS_ACTIVE AS recipientIsActive,
        r.DESCRIPTION AS description
        FROM KEYWORDS k
        JOIN KEYWORD_RECIPIENT_MAP krm ON k.ID = krm.KEYWORD_ID
        JOIN RECIPIENTS r ON krm.RECIPIENT_ID = r.ID
    </select>

    <select id="selectAllKeywords" resultType="io.github.ksh1024.tweet_monitor.dto.KeywordRecipientDTO">
        SELECT
        ID AS keywordId,
        KEYWORD_TEXT AS keywordText,
        IS_ACTIVE AS keywordIsActive
        FROM KEYWORDS
    </select>

    <select id="selectAllRecipients" resultType="io.github.ksh1024.tweet_monitor.dto.KeywordRecipientDTO">
        SELECT
        ID AS recipientId,
        TWITTER_USER_ID AS recipientTwitterUserId,
        TWITTER_SCREEN_NAME AS recipientTwitterScreenName,
        IS_ACTIVE AS recipientIsActive,
        DESCRIPTION AS description
        FROM RECIPIENTS
    </select>

    <insert id="insertKeyword">
        INSERT INTO KEYWORDS (KEYWORD_TEXT, IS_ACTIVE)
        VALUES (#{keywordText}, #{isActive})
    </insert>

    <insert id="insertRecipient">
        INSERT INTO RECIPIENTS (TWITTER_USER_ID, TWITTER_SCREEN_NAME, DESCRIPTION, IS_ACTIVE)
        VALUES (#{twitterUserId}, #{twitterScreenName}, #{description}, #{isActive})
    </insert>

    <insert id="insertKeywordRecipientMapping">
        INSERT INTO KEYWORD_RECIPIENT_MAP (KEYWORD_ID, RECIPIENT_ID)
        VALUES (#{keywordId}, #{recipientId})
    </insert>

    <update id="updateKeyword">
        UPDATE KEYWORDS
        SET
            KEYWORD_TEXT = #{keywordText},
            IS_ACTIVE = #{isActive},
            UPDATED_AT = CURRENT_TIMESTAMP
        WHERE ID = #{id}
    </update>

    <update id="updateRecipient">
        UPDATE RECIPIENTS
        SET
            TWITTER_USER_ID = #{twitterUserId},
            TWITTER_SCREEN_NAME = #{twitterScreenName},
            DESCRIPTION = #{description},
            IS_ACTIVE = #{isActive},
            UPDATED_AT = CURRENT_TIMESTAMP
        WHERE ID = #{id}
    </update>

    <delete id="deleteKeyword">
        DELETE FROM KEYWORDS
        WHERE ID = #{id}
    </delete>

    <delete id="deleteRecipient">
        DELETE FROM RECIPIENTS
        WHERE ID = #{id}
    </delete>

    <delete id="deleteKeywordRecipientMapping">
        DELETE FROM KEYWORD_RECIPIENT_MAP
        WHERE KEYWORD_ID = #{keywordId} AND RECIPIENT_ID = #{recipientId}
    </delete>
</mapper>